@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}
#root{
  background-color: rgb(153, 193, 223);
  min-height:100vh;
}
.container{
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  top:40px;
 width:100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}