*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(11, 24, 60);
}
.app{
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 500px;
    h1{
        padding-bottom: 20px;
        border-bottom: 1px solid lightgrey;
        font-size: 24px;
        font-weight: bold;
        color: rgb(11, 24, 60);
    }
}
.quiz{
    h2{
        margin-top: 20px;
        font-size: 20px;
        color: rgb(14, 14, 92)
    }
    #answer-buttons{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        button{
            text-align: left;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid lightgrey;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;;
        }
        button:hover:not([disabled]){
            background-color: rgb(18, 18, 54);
            color: white;
        }
        button:disabled{
            cursor: no-drop; /* no drop */
            opacity: 0.6;
        }

    }
    #next-btn{
        display: block;
        margin: 0 auto;
        padding: 10px 20px;
        margin-top: 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        color: white;
        background-color: rgb(18, 18, 54);
        display: none;
    }
}

.correct{
    background-color: rgba(34, 177, 76, 0.8);
    color: white;
}
.incorrect{
    background-color: rgba(237, 28, 36, 0.8);
    color: white;
}